/*Styles for the resume page*/
.resumeSection
{
    color: #eea236;
    margin-top: 80px;
    margin-bottom: 70px;
}
.resumeGraphic
{
    padding-bottom: 20px;
}
.resumeContent
{
    border-radius: 9px;
    box-shadow: 5px 5px 5px #111;
    padding: 10px;
    font-size: 18px;
    background: linear-gradient(black, darkgreen 40%);
}

/*Styles for the contact page*/
.formSection
{
    background: linear-gradient(#111, #122b40 60%);
    box-shadow: 5px 5px 5px #111;
    border-radius: 5px;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 70px;
    font-size: 20px;
    color: #337ab7;
}
.formHeader
{
    font-size: 40px;
    font-weight: bold;
}
.buttons
{
    margin: 0 auto;
    text-align: center;
    width: 50%;
    margin-bottom: 20px;
}
.submit, .reset
{
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-size: 30px;
    margin-top: 5px;
    margin-right: 10px;
    box-shadow: 5px 5px 5px black;
    font-weight: bold;
    text-shadow:2px 2px 2px #283966;
    text-decoration: none;
    transition: all 0.2s;
}
.submit:active, .reset:active {
    position:relative;
    top:1px;
}

.submit
{
    border: 2px solid darkslateblue;
    background: linear-gradient(#111, #122b40 20%, #111 80%);
}
.submit:hover
{
    color: navajowhite;
    background: linear-gradient(#122b40, #111 20%, #122b40 80%);
}
.reset
{
    color: firebrick;
    border: 2px solid #5f0000;
    background: linear-gradient(#111, #9f0000 20%, #111 95%);
}
.reset:hover
{
    color: navajowhite;
    background: linear-gradient(#9f0000, #111 20%, #9f0000 95%);
}

/*Styles for the Othermir page*/
.imgCaption
{
    padding-top: 10px;
    color:white;
    font-size: 20px;
}
.fadeIn, .fadeIn2
{
    animation-name: fadein;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.fadeIn
{
    animation-delay: 1s;
    animation-timing-function: linear;
}
.fadeIn2
{
    animation-delay: 2s;

}
@keyframes fadein
{
    from {opacity: 0;}
    to {opacity: 1;}
}
.othermirPanel
{
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
    color: blueviolet;
    font-size: 50px;
}
.othermirBlurb
{
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
}
.othermirBlurb>span
{
    display: block;
    padding-bottom: 10px;
}
.thumbnails, .videoThumb
{
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}
.thumbnails
{
    height: 200px;
}
.thumbSection
{
    margin-bottom: 50px;
    padding-top: 15px;
}
/*Styles for the projects page*/
.projectsPanel
{
    margin-top: 80px;
    font-size: 20px;
    color: navajowhite;
    padding: 15px;
    margin-bottom: 70px;
}
.projectsHeader
{
    padding-bottom: 15px;
}
.separator
{
    height: 2px;
    width: 100%;
    background-color: darkgoldenrod;
    margin-bottom: 10px;
}

/*Styles for the about me page*/
.aboutContainer
{
    margin-top: 80px;
    margin-bottom: 70px;
    min-height: 400px;
    width: 100%;
    background-image: url("cliffsValleys.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    padding: 30px;
    border-radius: 10px;
}
.aboutSectionBlurb, .interests
{
    font-size: 20px;
    background-color: rgba(0, 0, 0 , 0.6);
    border-radius: 5px;
    color: navajowhite;
    padding: 20px;
}
.interests
{
    margin-top: 20px;
}
.interests a
{
    color: darkviolet;
    transition: color 0.5s;
    text-decoration: none;
}
.interests a:hover
{
    color: mediumslateblue;
}
.line
{
    height: 2px;
    background-color: darkolivegreen;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0.8;
}

/*Styles for the footet*/
.centerBox
{
    width: 90%;
    margin: 0 auto;
}
.footer
{
    background-color: rebeccapurple;
    width: 100%;
    opacity: .7;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    padding: 15px 0px;
}
.copyright
{
    color: navajowhite;
    float: right;
    font-size: 20px;
}
/*Styles for the home page*/
.introPanel
{
    margin-top: 80px;
    margin-bottom: 70px;
    height: 100%;
    color: aquamarine;
    font-size: 20px;
}
.leftSection
{
    background: linear-gradient(#111, #122b40 60%);
    box-shadow: 5px 5px 5px #111;
    min-height: 600px;
    padding: 15px;
    border-radius: 15px;
}
.rightSection
{
    padding: 15px;
}
.meCaption
{
    padding-top: 15px;
}
.disclaimerText
{
    color: orangered;
    font-size: 12px;
}

/*Using Bootstrap glyphicons as bullet points*/
.educationBullet, .techWriting, .randdBullet, .jobBullet, .skillsBullet, .subSkills
{
    display: block;
}
.educationBullet:before, .techWriting:before, .randdBullet:before, .jobBullet:before, .skillsBullet:before, .subSkills:before
{
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
}
.educationBullet:before
{
    content: "\e233";
}
.techWriting:before
{
    content: "\e043";
}
.randdBullet:before
{
    content: "\e162";
}
.skillsBullet:before
{
    content: "\e218";
}
.subSkills:before
{
    content: "\e136";
}
.jobBullet:before
{
    content: "\e139";
}

